Django==1.5.11
South==0.8.1
Whoosh==2.4.0
avocado==2.3.10
dj-database-url==0.3.0
django-guardian==1.2.4
django-haystack==2.0.0
django-preserialize==1.0.7
gunicorn==19.1.1
jdcal==1.0
jsonfield==0.9.4
modeltree==1.1.8
openpyxl==2.1.1
psycopg2==2.5.4
restlib2==0.3.9
serrano>=2.3.0,<2.4.0
six==1.8.0
whitenoise==1.0.5
wsgiref==0.1.2
